<h2><%=l :label_doodle -%> #<%= @doodle.id -%></h2>
<%= labelled_form_for @doodle, url: {controller: 'doodles', action: 'update', id: @doodle}, html: {id: 'doodle-form', method: :put} do |f| %>
<%= render partial: 'form', locals: {f: f} %>
<%= submit_tag l(:button_save) %>
<%= preview_link preview_project_doodles_path(@project), 'doodle-form' %>
<% end if @project %>
<div id="preview" class="doodle"></div>
