<div class="contextual">
<%= link_to_if_authorized(l(:label_doodle_new),
                          {controller: 'doodles', action: 'new', project_id: @project},
                          class: 'icon icon-add',
                          onclick: 'showAndScrollTo(\'add-doodle\', \'doodle_title\'); return false;') if @project %>
</div>

<div id="add-doodle" style="display:none;">
<h2><%=l :label_doodle_new -%></h2>
<%= labelled_form_for @doodle, url: {controller: 'doodles', action: 'create', project_id: @project}, html: {id: 'doodle-form'} do |f| %>
<%= render partial: 'form', locals: {f: f} %>
<%= submit_tag l(:button_create) %>
<%= preview_link preview_project_doodles_path(@project), 'doodle-form' %>
<%= link_to l(:button_cancel), '#', :onclick => '$(\'#add-doodle\').hide(); return false;' %>
<% end if @project %>
<div id="preview" class="doodle"></div>
</div>

<h2><%=l :label_doodle_plural -%></h2>

<% if @doodles.empty? %>
<p class="nodata"><%=l :label_no_data -%></p>
<% else %>
<% @doodles.each do |doodle| %>
  <h3><%= link_to doodle.title, controller: 'doodles', action: 'show', id: doodle -%></h3>
  <p class="author"><%= authoring doodle.created_on, doodle.author -%></p>
  <div class="wiki">
  <%= textilizable(doodle.description[0,254] + (doodle.description[254].nil? ? '' : '…')) unless doodle.description.nil? %>
  </div>
<% end %>
<% end %>

<% html_title l(:label_doodle_plural) -%>
