<div class="contextual">
<%= link_to_if_authorized(l(:button_lock), {:action => 'lock', :id => @doodle.id, :locked => 1}, :method => :post, :class => 'icon icon-lock') if !@doodle.locked? %>
<%= link_to_if_authorized(l(:button_unlock), {:action => 'lock', :id => @doodle.id, :locked => 0}, :method => :post, :class => 'icon icon-unlock') if @doodle.locked? %>
</div>

<h2>Doodle #<%= @doodle.id %></h2>

<div class="issue details">
  <%= avatar(@author, :size => "64") %>
  <h3><%=h @doodle.title %></h3>
  <p class="author">
    <%= authoring @doodle.created_on, @doodle.author %>
  </p>
  <p><strong><%=l(:field_expiry_date)%></strong>: <%= format_date(@doodle.expiry_date) %></p>
  <hr />
  <p><strong><%=l(:field_description)%></strong></p>
  <div class="wiki">
  <%= textilizable(@doodle.description) %>
  </div>
</div>
<div class="doodle">
<% form_tag({:action => 'update', :id => @doodle}, {:method => :put}) do %>
<table class="list doodle">
  <thead>
    <tr>
      <td> </td>
      <% @doodle.options.each do |option| %>
        <th><%=h option %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @responses.each do |response| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= avatar(response.author, :size => "24") %><div class="answeree"><%=h response.author.name %></div></td>
        <% column = 1 %>
      <% response.answers_with_css_classes.each do |answer,css| %>
        <td class="<%= css %>"><%= check_box_tag "answers[]", column-1, answer, :disabled => (!(@doodle.active?) || !(response.author == User.current)), :onclick => "$(this).up('.answer').toggleClassName('yes').toggleClassName('no')" %></td>
        <% column += 1 %>
      <% end %>
      </tr>
    <% end %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= l(:label_result_plural)%></td>
      <% @doodle.results.each do |res| %>
        <td><%= res %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<%= submit_tag l(:button_save) %>
<% end %>
</div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'redmine_doodles.css', :plugin => "redmine_doodles" %>
<% end %>

<% html_title "Doodle #{@doodle.id}: #{@doodle.title}" -%>