<div class="contextual">
<%= watcher_tag(@doodle, User.current) %>
<%= link_to_if_authorized(l(:button_lock), {:action => 'lock', :id => @doodle.id, :locked => 1}, :method => :post, :class => 'icon icon-lock') if !@doodle.locked? %>
<%= link_to_if_authorized(l(:button_unlock), {:action => 'lock', :id => @doodle.id, :locked => 0}, :method => :post, :class => 'icon icon-unlock') if @doodle.locked? %>
</div>

<h2>Doodle #<%= @doodle.id %></h2>

<div class="issue details">
  <%= avatar(@author, :size => "64") %>
  <h3><%=h @doodle.title %></h3>
  <p class="author">
    <%= authoring @doodle.created_on, @doodle.author %>
  </p>
  <p><strong><%=l(:field_expiry_date)%></strong>: <%= format_date(@doodle.expiry_date) %></p>
  <hr />
  <p><strong><%=l(:field_description)%></strong></p>
  <div class="wiki">
  <%= textilizable(@doodle.description) %>
  </div>
</div>
<div class="doodle">
<% form_tag({:action => 'update', :id => @doodle}, {:method => :put}) do %>
<%= render :partial => 'doodle' %>
</div>
<%= submit_tag l(:button_save) if @doodle.active? && User.current.allowed_to?(:answer_doodles, @project) %>
<% end %>

<div id="comments">
<h3 class="comments"><%= l(:label_comment_plural) %></h3>
<% @comments.each do |comment| %>
    <% next if comment.new_record? %>
    <h4><%= avatar(comment.author, :size => "24") %><%= authoring comment.created_on, comment.author %></h4>
    <%= textilizable(comment.comments) %>
<% end %>
</div>

<% if authorize_for 'doodles', 'comment' %>
<p><%= toggle_link l(:label_comment_add), "add_comment_form", :focus => "comment_comments" %></p>
<% form_tag({:action => 'comment', :id => @doodle}, :id => "add_comment_form", :style => "display:none;") do %>
<div class="box">
    <%= text_area 'comment', 'comments', :cols => 80, :rows => 15, :class => 'wiki-edit' %>
    <%= wikitoolbar_for 'comment_comments' %>
</div>
<p><%= submit_tag l(:button_add) %></p>
<% end %>
<% end %>

<% html_title "Doodle #{@doodle.id}: #{@doodle.title}" -%>